<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">
      About
    </h1>
  </div>
  <div class="row mt-3">
    <h2 class="text-center">
      <p>このコミュニティは納豆やとろろ、オクラ等ねばねば食材が好きなひとのための場所です。</p></br>
      メジャーなものからアレンジものまで、好きな料理を投稿してもらえるような</br>
      <p>そんなコミュニティサイトを目指して行きたいです。</p></br>
      管理人はほとんど料理しない人間なので、ぜひ皆様の料理画像やレシピなど、</br>
      <p>沢山投稿してくれると、嬉しいです！</p>
    </h2>
  </div>
</div>