@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

th, td {
  border:none !important;
}

body {
  background-image: url("../images/wood-texture_00016.jpg");
  
}

*{
  font-family: serif;
}
// .hoge {
//     border: solid 9px !important;
// }